<footer class="site-footer">
    <span>
        ©
        <span id="year">1985</span>
        {{ site.owner.name }}
    </span>
    |
    <a href="/privacy/">Privacy</a>
    |
    <span class="site-credit">
        Site by
        <a href="{{ site.creator.url }}">{{ site.creator.company }}</a>
    </span>
</footer>