<section class="services">
    <div class="services-inner">
        <p class="services-links">
            {% for page in collections.services %}
                <a href="{{ page.url }}">{{ page.data.title }}</a>
                {% if not loop.last %}
                    <span>·</span>
                {% endif %}
            {% endfor %}
        </p>
    </div>
</section>