{% for gallery in galleries %}
    <section id="{{ gallery.name }}" class="section">
        {% if site.gallery.showTitles %}
            <h2 class="section-title">{{ gallery.title }}</h2>
        {% endif %}
        <div class="gallery">
            {% for photo in gallery.photos %}
                {% image photo,
                gallery.title %}
            {% endfor %}
        </div>
    </section>
{% endfor %}