<nav class="categories">
    <a href="#top" class="home nav-link">{{ site.siteTitle }}</a>
    {% for gallery in galleries %}
        <a href="#{{ gallery.name }}" class="nav-link">
            {{ gallery.title }}
        </a>
    {% endfor %}
    <a href="#contact" class="nav-link">Contacts</a>
    <a href="/about">About</a>
</nav>